<p id="notice"><%= notice %></p>

<div class="container">
  <div class="page-header">
    <p>
      <h1>
      <%= @article.title %>
      </h1>
    </p>
  </div>
    <p>
      <h4>
        <strong>作成者:</strong>
        <%= @article.author.name %>
      </h4>
    </p>
      <strong>詳細:</strong>
    <p class="lead">
      <%= @article.message %>
    </p>


  <hr>
  <div class="container">
    <div class="pull-right">
    <%= link_to 'Edit', edit_article_path(@article), class:'btn btn-default' %> |
    <%= link_to 'Back', root_path, class:'btn btn-default' %>
    </div>
  </div>
</div>

