<p id="notice"><%= notice %></p>

<div class="container">
  <div class="page-header">
    <h1>
      <%= @article.title %>
    </h1>
  </div>

  <p class="lead">
    <%= @article.message %>
  </p>

  <h4>作者: <%= @article.author.name %></h4>

  <strong>アサインユーザ一覧:</strong>
  <ul>
    <% @article.assigned_users.map { |u| u.approval(@article) }.each do |approval| %>
        <li>
          <p><%= approval.is_approved ? '既読' : '未読' %></p>
          <p><%= approval.user.name %></p>
        </li>
    <% end %>
  </ul>

  <hr>
  <div class="container">
    <div class="pull-right">
      <% if (@article.author.name == current_user.name) %>
          <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' %> |
      <% end %>
      <%= link_to 'Back', root_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

