<p id="notice"><%= notice %></p>

<div class="container">
  <div class="page-header">
    <h1>
      <%= @article.title %>
    </h1>
  </div>

  <p class="lead">
    <%= @article.message %>
  </p>

  <h4>作者: <%= @article.author.name %></h4>

  <strong>アサインユーザ一覧:</strong>
  <p>
  <h4>
    <%= @article.assigned_users.pluck(:name).join(",") %>
  </h4>
  </p>

  <strong>既読ユーザ一覧:</strong>
  <p>
  <h4>
    <% approval_id=@article.approvals.pluck(:user_id) %>
    <%= @article.assigned_users.where(id: approval_id).pluck(:name).join(",") %>
  </h4>
  </p>

  <strong>未既読ユーザ一覧:</strong>
  <p>
  <h4>
    <%= @article.assigned_users.where.not(id: approval_id).pluck(:name).join(",") %>
  </h4>
  </p>

  <hr>
  <div class="container">
    <div class="pull-right">
      <% if (@article.author.name == current_user.name) %>
          <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' %> |
      <% end %>
      <%= link_to 'Back', root_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

